.letters-spaced {
  letter-spacing: 3px;
}

.mmodal {
     /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0,1); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.mmodal-content {
  background-color: rgba(0, 0, 0, 1);
  margin: 1% auto;
  /* padding: 8px; */
  /* border: 1px solid #888; */
  height: 500px;
  position: relative;
  /* border-radius: 5px; */
  border-radius: unset !important;
}

@media screen and (min-width: 1025px) {
  .mmodal-content {
    height: 800px;
    max-width: 1280px;
  }
}

@media  screen and (max-width: 480px) {
  .mmodal-content {
    max-width: 400px;
    height: 300px;
  }
  .mmodal {
    padding-top: 5% auto;
  }
}

.player-next-container {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  padding-bottom:20px;
}

.empty-left-container {
  width: 25px;
}
  
.mmodal-content .right_icon {
    content: "";
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 30px;
    line-height: 24px;
    color: #fff;
    border-radius: 50%;
    transition: .3s all;
    cursor: pointer;
}

.mmodal-content .right_icon:hover {
  color: grey;
}

.mmodal-content .left_icon {
    position: absolute;
    content: "";
    height: 30px;
    width: 47px;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 30px;
    line-height: 24px;
    color: #fff;
    border-radius: 50%;
    transition: .3s all;
    cursor: pointer;
}

.mmodal-content .left_icon:hover{
    color: grey;
}

  /* The Close Button */
.mclose {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height:24px;
  transform:translateX(-20px)
}
  
.mclose:hover,
.mclose:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

a.self_item_statement {
    position: absolute;
    left: 10%;
    bottom: 0;
}

.modal-content{
  border-radius: unset !important;
}

.modal-header {
  border: none !important;
}

.play-button:hover {
  color: rgba(0, 0, 0, 1);
}

.video_item {
  color: black;
}